---
import ThreeJSCanvas from "../components/ThreeJSCanvas.astro";
import { CharacterSelect } from "../components/CharacterSelect";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/MegaManLegends2-VRM/favicon.svg"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body class="bg-gradient-to-b from-gray-800 to-cyan-600">
		<CharacterSelect client:load />
		<ThreeJSCanvas />
	</body>
</html>
